go 1.24.3

toolchain go1.24.5

use (
	./generated/go
	./pkg
	./services/admin-service
	./services/api-gateway
	./services/auth-service
	./services/billing-service
	./services/blocking-service
	./services/campaign-service
	./services/cms-service
	./services/device-service
	./services/supplier-service
	./services/user-service
)
